<% layout("/layouts/boilerplate.ejs") -%>

<body>
  <div class="history">
    <!-- <h2 style="text-align: center; margin-bottom: 20px; display: block">
      Recent Meetings
    </h2> -->

    <% for( let each of meetings){ %>
    <div class="meeting-card">
      <p><b>Meeting Code: '<%= each.meetingCode %>' </b><i></i></p>
      <br />

      <p><b>Participants --</b></p>
      <ul>
        <% for(let e of each.participants){ %>
        <li><i><%= e %></i></li>
        <% } %>
      </ul>

      <p>
        <b>Date: </b><%= each.date.toString().split(" ").slice(1,4).join(" ")%>
      </p>

      <p>
        <b>Time: </b><%= new Date(each.date).toLocaleString("en-US", { hour:
        "numeric", minute: "numeric", hour12: true }) %>
      </p>

      <br />

      <form method="post" action="/user/history/<%= each._id %>?_method=delete">
        <button class="btn">Delete</button>
      </form>
    </div>
    <% } %>
  </div>
</body>
