<% layout("/layouts/boilerplate.ejs") -%>

<body>
  <div class="history">
    <h2 style="margin: 0; background-color: white">Recent meetings</h2>
    <% for( let each of meetings){ %>
    <div class="meeting">
      <p><b>Meeting Code: '<%= each.meetingCode %>' </b><i></i></p>
      <br />

      <p><b>Participants:-</b></p>
      <ul>
        <% for(let e of each.participants){ %>
        <li><i><%= e %></i></li>
        <% } %>
      </ul>

      <p>
        <b>Date: </b><%= each.date.toString().split(" ").slice(1,4).join(" ")%>
      </p>

      <p><b>Time: </b><%= each.date.toString().split(" ")[4]%></p>
      <br />

      <form method="post" action="/user/history/<%= each._id %>?_method=delete">
        <button class="btn" style="background-color: red">Delete</button>
      </form>
    </div>
    <% } %>
  </div>
</body>
