<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <% if(successMsg.length || missingMsg.length || wrongMsg.length ||
    notfoundMsg.length){ %>
    <div class="alert-msg">
      <%= successMsg %> <%= missingMsg %> <%= wrongMsg %> <%= notfoundMsg %> <%
      if(existMsg && existMsg.length){ %> <%= existMsg %> <% } %>
    </div>
    <% } %>

    <div class="signup_page">
      <div class="signup_img">
        <img src="/assets/login_image2.jpg" />
      </div>
      <div class="signup_content">
        <div class="signUpForm">
          <div class="auth_btns">
            <a href="/user/signup"><div class="btn3 btn4">Sign Up</div></a>
            <a href="/user/login"><div class="btn3 btn5">Sign In</div></a>
          </div>
          <form action="/user/signup" method="post">
            <input type="text" name="name" placeholder="Name" /><br />

            <input
              type="text"
              name="username"
              placeholder="Username"
              required
              minlength="4"
              maxlength="20"
            /><br />

            <input
              type="password"
              name="password"
              placeholder="Password"
              required
              minlength="8"
              maxlength="16"
            /><br />
            <button class="btn3">SignUp</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
